.login {
  padding: 10 10 10 10;
  margin-top: 5%;
}

.login .title {
  margin-bottom: 5%;
}

.navbar {
  margin-bottom: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar-brand > a {
  color:black;
  text-decoration: none;
}

.footer,
.push {
  height: 50px;
}
footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #f8f9fa;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  margin-top: 1%;
}

.slide-left {
  float: left;
}
.slide-right {
  float: right;
}

.fixedbutton {
    position: fixed;
    bottom: 20%;
    right: 10%;
    border-style:solid;
    text-align:center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius:50%;
    text-decoration: none;

}

.fixedbutton:hover {
  padding: 15px;
  text-decoration: none;
}
.task {
  position: relative;
  padding: 2px;
  opacity: 0;
  margin-top:2%;
  margin-bottom: 2%;
  border-radius: 4px;
  width: 70%;
}
.task-container {
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  border-radius:6px;
  margin: 1%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  background-color:#fff;
  text-align: center;
}

.task-container > .title {
  text-align: center;

}
.blur-text {
  opacity: 0.5;
}


.task-container > .date {
  text-align: left;
  float:left;
}

.task-container > .title >.mark-as-done {
  float:right;
  text-align: right;
}

.accountDeleteLink {
    margin-top: 2%;
    margin-bottom: 2%;
}


.task-container > .title >.delete{
  float:left;
  text-align: left;
}

.task-container > .category {
  text-align: right;
  float: right;
}

@media (max-width: 768px) {
    .task-container > .date {
        text-align: center;
        float: none;
    }
    .task-container > .category {
      text-align: center;
      float: none;
      margin-top: 5px;
    }

    footer {
          font-size: 0.6em;
    }
}

.welcome-message {
  margin-top: 10%;
}

.motivational-quote {
  text-align: center;
}

.motivational-quote > .username {
  text-decoration: underline;
}
