{% extends 'taskdesk/base.html' %}
{% load staticfiles %}
{% block title_block %}
About us
{% endblock %}
{% block body_block %}
<div class = 'text-center'> <h2>About Us</h2></div>
<div class="jumbotron text-center">
<p>
  TaskDesk, as the name suggest, is a task managing app. It allows you to effortlessly create tasks and group them into particular category.
</p>
<p>
TaskDesk believes in giving you a personalized experience. Therefore, it allows you to change how the app displays the tasks. A user can change the colors of different priority level (i.e high,medium and low) according to user's preferences.</p>
<p>
Created with <i class="fas fa-heart"></i> by <a href='http://www.swetankpoddar.me'> Swetank Poddar </a>
</p>
</div>
{% endblock %}
